:root {
  --primary-color: #ff6c00;
  --secondary-color: #191c26;

  --text-primary: #303030;
  --text-secondary: #9da4bd;
  --text-primary-lighten: #555555;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.suptitle-primary,
.suptitle-secondary {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--text-primary);
}
.suptitle-secondary {
  color: var(--text-secondary);
}
.suptitle-primary::before,
.suptitle-secondary::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 60px;
  margin-right: 20px;
  vertical-align: middle;
  background: var(--text-primary);
}
.suptitle-secondary::before {
  background: rgba(157, 164, 189, 0.6);
}
h2.section-title {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 42px;
  color: var(--text-primary);
}

h2.section-title.lighten {
  color: #fff;
}
.hero-description {
  color: var(--text-secondary);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
}
.header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

/* Navbar styles here */
nav.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 55px 0 55px;
}
.nav-holder {
  display: flex;
  align-items: center;
  height: 56px;
}
nav.navbar .btn-box {
  display: flex;
}
.nav-links {
  outline: skyblue;
  display: flex;
}
.nav-links li {
  margin: 0 40px;
  display: flex;
}
.logo-img {
  width: 68px;
  height: 56px;
  margin: 0 32px;
}
a.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  color: #fff;
  display: flex;
}
a.nav-link:hover,
.social-link:hover {
  color: var (--primary-color);
}

/* Main styles here */
.section-box {
  padding: 130px 55px;
  width: 100%;
}

.about-section,
.why-us_section {
  display: flex;
  justify-content: space-between;
}
.about_image-box {
  width: 48%;
  display: flex;
  justify-content: space-between;
}
.about_image-box img {
  width: 48%;
}
.description-container {
  width: 48%;
}

p.section-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  color: var(--text-primary-lighten);
}
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.33;
  color: var(--text-primary);
}
.primary-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 12px 20px;
  color: #fff;
  display: inline-block;
}
.primary-btn.darken {
  color: var(--text-primary);
}
.slider {
  width: calc(100% - 155px);
  background-image: url(../images/slider/slider-one.jpg);
}
.sidebar {
  width: 155px;
  height: 100vh;
  background-color: #fff;
}

/* Price styles */
.price-list {
  display: flex;
}
.price-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.price-item p,
.price-item span {
  font-size: 18px;
  line-height: 1.67;
  color: var(--text-secondary);
}
.number-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 48%;
  padding: 0 100px;
}

/* Why us styles here */
.number-box {
  display: inline-block;
  background-color: #f7f7f7;
  min-width: 170px;
  width: 48%;
  height: 132px;
  margin-top: 30px;
}
.number-box p,
.number-box span {
  display: inline-block;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  color: var(--text-primary);
}
.number-box span {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--text-primary);
}
/* Masters styles here */
.masters-list {
  display: flex;
  justify-content: space-between;
  flex-basis: 300px;
}
.master-card p {
  font-size: 18px;
  line-height: 1.38;
  color: var(--text-primary);
}
.master-card span {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  color: #ff6c00;
}
/* Footer styles here */
.footer-contacts {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  color: var(--text-secondary);
}
