.about_image-box {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
  }
  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.about_image-box img {
  width: 48%;
}

.description-container {
  width: 100%;
  @media screen and (min-width: $tablet) {
    width: 72%;
  }
  @media screen and (min-width: $desktop) {
    width: 48%;
  }
}

p.section-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  color: $text-primary-lighten;
  margin-bottom: 40px;
}
