.footer {
  width: 100%;
  min-height: 640px;
  height: auto;
  background-color: $color-secondary;
  padding: 130px 50px;
  display: flex;
  background-image: url(../images/footer/bg.png);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right top;
  color: $text-secondary;
}

.footer .section-title.lighten {
  margin-bottom: 40px;
}

.footer-form-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-field {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
  color: #fff;
  transition: border-color 250ms ease-in;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
}

.footer-form .field-label legend {
  transition: transform 250ms ease-in, color 250ms linear;
}

.field-label {
  display: inline-block;
  width: calc(50% - 15px);
  position: relative;
  margin-bottom: 40px;
}

.field-label,
.form-field::placeholder {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  font-family: "Open Sans", sans-serif;
}

.field-label legend {
  position: absolute;
  top: -3px;
  left: 0;
}

.form-field:focus + legend,
.form-field:not(:placeholder-shown) + legend {
  transform: translateY(-25px);
  color: #fff;
}

.form-field:focus {
  border-color: #fff;
}

.textarea {
  width: 100%;
}

textarea.form-field {
  min-height: 75px;
  display: block;
  resize: none;
  font-family: "Open Sans", sans-serif;
}

.footer-form,
.footer-contacts {
  width: 50%;
  height: inherit;
  padding-right: 50px;
}

.footer-contacts {
  padding: 0 100px;
}

.contacts-box {
  padding-left: 40px;
  margin-bottom: 70px;
}

.contacts-box > a {
  position: relative;
  font-style: normal;
}

.contacts-box > a::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: -41px;
  top: 3px;
}

.contacts-box a:nth-of-type(1)::before {
  background-image: url(../images/icons/location-icon.svg);
}

.contacts-box a:nth-of-type(2)::before {
  background-image: url(../images/icons/tel-icon.svg);
}

.contacts-box a:nth-last-of-type(1)::before {
  background-image: url(../images/icons/envelope-icon.svg);
}

.contacts-box > a {
  position: relative;
  display: block;
  color: $text-secondary;
  margin-top: 20px;
}

.contacts-box > a:nth-last-of-type(1) {
  text-decoration: underline;
}

.suptitle-secondary.working-hours {
  color: #fff;
}

.footer-contacts {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: $text-secondary;
}
