.price-section {
  background-image: url(../images/price-section/bg.png);
  background-color: rgba(17, 19, 25, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.price-list {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 40px;
}

.price-box {
  display: flex;
  margin-top: 24px;
  margin-bottom: 50px;
}

.price-list:nth-child(odd) {
  background: linear-gradient(100deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:nth-child(even) {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-item p,
.price-item span {
  font-size: 18px;
  line-height: 1.67;
  color: $text-secondary;
  display: block;
  margin-bottom: 20px;
}
