.number-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 48%;
  padding: 0 100px;
}

.number-box {
  background-color: #f7f7f7;
  min-width: 170px;
  width: 48%;
  height: 132px;
  margin-top: 30px;
  padding: 20px 24px;
}

.number-box:last-child {
  padding: 20px;
}

.number-box-wrapper-left {
  margin-bottom: 40px;
}

.number-box-wrapper-right {
  margin-top: 40px;
}

.number-box p,
.number-box span {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  color: $text-primary;
}

.number-box p::after {
  content: "+";
  display: inline-block;
  color: $color-primary;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  vertical-align: top;
}

.number-box span {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: $text-primary;
}
