.number-container {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  @media screen and (min-width: $tablet) {
    width: 72%;
  }
  @media screen and (min-width: $desktop) {
    width: 48%;
    padding: 0 100px;
  }
}

.number-box {
  background-color: #f7f7f7;
  min-width: 193px;
  @media screen and (min-width: $tablet) {
    min-width: 210px;
  }
  @media screen and (min-width: $desktop) {
    min-width: 170px;
  }

  width: 48%;
  height: 132px;
  padding: 20px 35px;
  @media screen and (min-width: $tablet) {
    padding: 20px 44px;
  }
  @media screen and (min-width: $desktop) {
    padding: 20px 24px;
  }
}

.number-box:last-child {
  margin-top: 30px;
  padding: 20px 32px;
  @media screen and (min-width: $tablet) {
    padding: 20px 40px;
  }
  @media screen and (min-width: $desktop) {
    padding: 20px;
  }
}

.number-box-wrapper-left {
  margin-bottom: 40px;
  margin-right: 30px;
}

.number-box-wrapper-right {
  margin-top: 40px;
}

.number-box p,
.number-box span {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  color: $text-primary;
}

.number-box p::after {
  content: "+";
  display: inline-block;
  color: $color-primary;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  vertical-align: top;
}

.number-box span {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: $text-primary;
}
