@font-face {
  font-family: "Open-sans";
  src: url("../../fonts/open-sans-v23-latin_cyrillic-regular.woff2")
      format("woff2"),
    url("../../fonts/open-sans-v23-latin_cyrillic-regular.woff") format("woff"),
    url("../../fonts/open-sans-v23-latin_cyrillic-regular.eot") format("eot"),
    url("../../fonts/open-sans-v23-latin_cyrillic-regular.ttf") format("ttf"),
    url("../../fonts/open-sans-v23-latin_cyrillic-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-sans";
  src: url("../../fonts/open-sans-v23-latin_cyrillic-600.woff2") format("woff2"),
    url("../../fonts/open-sans-v23-latin_cyrillic-600.woff") format("woff"),
    url("../../fonts/open-sans-v23-latin_cyrillic-600.eot") format("eot"),
    url("../../fonts/open-sans-v23-latin_cyrillic-600.ttf") format("ttf"),
    url("../../fonts/open-sans-v23-latin_cyrillic-600.svg") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-sans";
  src: url("../../fonts/open-sans-v23-latin_cyrillic-700.woff2") format("woff2"),
    url("../../fonts/open-sans-v23-latin_cyrillic-700.woff") format("woff"),
    url("../../fonts/open-sans-v23-latin_cyrillic-700.eot") format("eot"),
    url("../../fonts/open-sans-v23-latin_cyrillic-700.ttf") format("ttf"),
    url("../../fonts/open-sans-v23-latin_cyrillic-700.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../../fonts/raleway-v22-latin_cyrillic-regular.woff2) format("woff2"),
    url(../../fonts/raleway-v22-latin_cyrillic-regular.woff) format("woff"),
    url(../../fonts/raleway-v22-latin_cyrillic-regular.eot) format("eot"),
    url(../../fonts/raleway-v22-latin_cyrillic-regular.ttf) format("ttf"),
    url(../../fonts/raleway-v22-latin_cyrillic-regular.svg) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../../fonts/raleway-v22-latin_cyrillic-600.woff2) format("woff2"),
    url(../../fonts/raleway-v22-latin_cyrillic-600.woff) format("woff"),
    url(../../fonts/raleway-v22-latin_cyrillic-600.eot) format("eot"),
    url(../../fonts/raleway-v22-latin_cyrillic-600.ttf) format("ttf"),
    url(../../fonts/raleway-v22-latin_cyrillic-600.svg) format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../../fonts/raleway-v22-latin_cyrillic-700.woff2) format("woff2"),
    url(../../fonts/raleway-v22-latin_cyrillic-700.woff) format("woff"),
    url(../../fonts/raleway-v22-latin_cyrillic-700.eot) format("eot"),
    url(../../fonts/raleway-v22-latin_cyrillic-700.ttf) format("ttf"),
    url(../../fonts/raleway-v22-latin_cyrillic-700.svg) format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
